*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: lightblue;
    margin: auto;
}

.verde{
    background-color: rgb(208, 255, 122);
}

.vermelho{
    background-color: rgb(255, 142, 122);
}